/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #b76666;
}

.container {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #f3f4f5;
}

/* Form styles */
form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
    background-color: #007bff;
    color: #472e2e;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Navigation bar styles */
nav {
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 0px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    width: 100%;
    background-color: #000000;
    color: #6d2e2e;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/* Specific styles for different pages */
.pizza-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.pizza-order label {
    flex: 1;
}

.pizza-order select,
.pizza-order input[type="number"] {
    flex: 2;
    margin-left: 10px;
}

#password-error {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.order-summary {
    list-style-type: none;
    padding: 0;
}

.order-summary li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.order-summary li:last-child {
    border-bottom: none;
}

.total-price {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}
